@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
h2{
	padding:35px 0px 0px 40px;
	/*border:1px solid #000;*/
}
#content{
	margin-top:40px;
	margin-left:280px;
	width:60%;
}

/*pageHeading*/
#pageHeading{
	background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
	height:30px;
	padding-top:6px;
	position:relative;
}
#pageHeading a{
	color: #6C6C6C;
	text-decoration: none;
	font-size: 13px;
}
#pageHeading a:hover{
	color:#63CEDA;
}
/*分*/
#customerMarket{
	position:absolute;
	top:10px;
	left:70px;
}
#shopperLogin{
	position:absolute;
	top:10px;
	right:160px;
}
#shoppingCart{
	position:absolute;
	top:10px;
	right:380px;
}
#personalMessage{
	position:absolute;
	top:10px;
	right:270px;
}
#exit{
	position:absolute;
	top:10px;
	right:75px;
}

/*导航栏样式*/
.sidebar1 {
	float:left;
	width: 15%;
	background:#F8FAFC;
	border:1px solid #fff;
	margin:100px 0px 0px 40px;
}
ul.nav{
	list-style: none;
}
ul.nav li{
	line-height:45px;
	text-align:center;
	/*border:1px solid #000;*/
	width:inherit;
}
ul.nav a{
	display: block; /* 这将为链接赋予块属性，使其填满包含它的整个 LI。这样，整个区域都可以响应鼠标单击操作。 */
	text-decoration:none;
	color:#000;
}
ul.nav a:hover{ 
	/*text-decoration:underline;*/
	background:#f3f5f7;
	color:#f00;
}
#sidebar{
	/*border:1px solid #F00;*/
	font-weight:700;
	font-size:16px;
	line-height:24px;
	margin:40px 20px 12px 20px;
}
#line{
	height:1px;
	background-color:#d9dde1;
	margin:0px 20px 10px 20px;
}
.jiange{
	margin-left:50px;
}



/*订单状态栏*/
#orderStatusBlock{
	list-style:none;
	float:left;
	width:766px;
	border-bottom: 2px solid #e8e8e8;
}
#orderStatusBlock li{
	float:left;
	border-bottom: 2px solid #e8e8e8;
	margin-bottom:-2px;
    cursor: pointer;
	width:100px;
	line-height:35px;
	text-align:center;
	font-size:16px;
	font-weight:700;
}
#orderStatusBlock li:hover{
	color:#FF0000 !important;
}
.line{
	float:left;
	height:14px;
	width:1px;
	/*background-color: #e8e8e8;*/
	margin-top:6px;
	color: #e8e8e8;
	/*border-bottom:1px solid #e8e8e8;*/
}


/*订单信息栏*/
#orderMessage{
	height:40px;
	background:#F5F5F5;
	border:1px solid #E8E8E8;
	margin-bottom:10px;
}


#productName{
	width:120px;
	display:inline-block;
	font-size:13px;
	/*border:1px solid #000;*/
	margin-left:120px;
	margin-top:10px;
}
#productSale{
	width:80px;
	display:inline-block;
	font-size:12px;
	/*border:1px solid #000;*/
	text-align:center;
}
#quantity{
	width:80px;
	display:inline-block;
	font-size:13px;
	/*border:1px solid #000;*/
	text-align:center;
}
#totalPrice{
	width:110px;
	display:inline-block;
	font-size:13px;
	/*border:1px solid #000;*/
	text-align:center;
}
#orderStatus{
	width:110px;
	display:inline-block;
	font-size:13px;
	/*border:1px solid #000;*/
	text-align:center;
}
#operation{
	width:110px;
	display:inline-block;
	font-size:13px;
	/*border:1px solid #000;*/
	text-align:center;
}

/*上下翻页*/
/*上下翻页按钮*/
.previousPage,.nextPage{
	border: 1px solid #dcdcdc;
	background:#fff;
	color: #9c9c9c;
	height: 24px;
    line-height: 22px;
	width:65px;
	font-size:16px;
	border-radius:3px;
}
.previousPage:hover,.nextPage:hover{
	border-color:#000;
	color:#000;
}
.pageNo,.totalPageNo{
	font-size:18px;
}


/*订单块*/
.order{
	border:1px solid #DAF3FF;
	margin-bottom:10px;
}
.order:hover{
	border-color:#66B6FF;
}
.orderIdBlock{
	background:#EAF8FF;
	line-height:40px;
	border-bottom:1px solid #DAF3FF;
	color: #3c3c3c;
	font-size:13px;
	padding-left:20px;
}
.orderId{
	margin-right:90px;
}
/*操作*/
.pay{
	float:right;
	margin-right:10px;
	background-color: #66b6ff;
    color: #fff;
    border: 1px solid #66b6ff;
	font-weight: bolder;
	height: 28px;
    line-height: 26px;
	border-radius: 3px;
    font-size:14px;
    cursor: pointer;
	width:70px;
	margin-top:6px;
}
.pay:hover{
	background-color: #118adb;
    border-color: #118adb;
}

.removeOrder{
	float:right;
	margin-right:15px;
	background-color: #66b6ff;
    color: #fff;
    border: 1px solid #66b6ff;
	font-weight: bolder;
	height: 28px;
    line-height: 26px;
	border-radius: 3px;
    font-size:14px;
    cursor: pointer;
	width:70px;
	margin-top:6px;
}
.removeOrder:hover{
	background-color: #118adb;
    border-color: #118adb;
}

.confirm{
	float:right;
	margin-right:20px;
	background-color: #66b6ff;
    color: #fff;
    border: 1px solid #66b6ff;
	font-weight: bolder;
	height: 28px;
    line-height: 26px;
	border-radius: 3px;
    font-size:14px;
    cursor: pointer;
	width:70px;
	margin-top:6px;
}
.confirm:hover{
	background-color: #118adb;
    border-color: #118adb;
}

.rate{
	float:right;
	margin-right:20px;
	background-color: #66b6ff;
    color: #fff;
    border: 1px solid #66b6ff;
	font-weight: bolder;
	height: 28px;
    line-height: 26px;
	border-radius: 3px;
    font-size:14px;
    cursor: pointer;
	width:70px;
	margin-top:11px;
}
.rate:hover{
	background-color: #118adb;
    border-color: #118adb;
}


.productMessage{
	height:110px;
	border-bottom:1px solid #DAF3FF;
}
.productImg{
	width:80px;
	height:80px;
	margin:15px 8px 0px 15px;
	float:left;
}
.productName{
	width:135px;
	display:inline-block;
	font-size:15px;
	height:95px;
	padding-top:15px;
}
.productSale{
	/*margin-top:15px;*/
	/*border:1px solid #000;*/
	width:80px;
	display:inline-block;
	font-size:15px;
	height:95px;
	padding-top:15px;
	text-align:center;
}
.quantity{
	/*margin-top:15px;*/
	/*border:1px solid #000;*/
	width:80px;
	display:inline-block;
	font-size:15px;
	height:95px;
	padding-top:15px;
	text-align:center;
}
.totalPrice{
	/*margin-top:15px;*/
	/*border:1px solid #000;*/
	width:110px;
	display:inline-block;
	font-size:15px;
	height:95px;
	padding-top:15px;
	text-align:center;
	font-weight:700;
	/*border-right:1px solid #DAF3FF;
	border-left:1px solid #DAF3FF;*/
}
.productStatus{
	/*margin-top:15px;*/
	/*border:1px solid #000;*/
	width:110px;
	display:inline-block;
	font-size:15px;
	height:95px;
	padding-top:15px;
	text-align:center;
}
.operationBlock{
	/*border:1px solid #000; */
	height:100px;
	width:112px; 
	float:right;
	text-align:center;
	/*border-left:1px solid #DAF3FF;*/
}
.operation{
	/*margin-top:15px;*/
	/*border:1px solid #000;*/
	width:40px;
	display:inline-block;
	font-size:15px;
	margin-top:15px;
}


/*评价盒子*/

/*盒子标题*/
.heading{
	font-weight:400;
	line-height:35px;
	font-size:18px;
	color:#666666;
	margin-left:10px;
}

/*关闭盒子按钮*/
#RcloseBtn{
	font:"幼圆";
	font-size:18px;
	text-decoration:none;
	color:#999999;
	font-weight:bold;
	float:right;
	margin-right:10px;
	margin-top:5px;
}
#RcloseBtn:hover{
	color:#000;
}
/*阴影*/
#mask{
	border:none;
	width:100%;
	height:100%;
	background:#333;
	opacity:0.6;
	filter:alpha(opacity=60);
	z-index:99;
	position:fixed;
	top:0;
	left:0;
	display:none;
}
/*盒子样式*/
#rateBox{
	display:none;
	border:2px solid #444;
	border-radius:7px;
	z-index:100;
	background:#fff;
	position:fixed;
	left:50%;
	top:150px;
	width:340px;
	margin-left:-200px;
}

/*行*/
.kind{
	/*border:1px solid #000;*/
	margin-top:10px;
}
#grade{
	line-height:30px;
	font-size:18px;
	font-weight:400;
	/*border:1px solid #000;*/
	width:40px;
	display:inline-block;
	margin-left:10px;
}
#rateGrade{
	height:28px;
	width:60px;
	text-align:center;
}
#commentName{
	line-height:25px;
	font-size:18px;
	font-weight:400;
	/*border:1px solid #000;*/
	width:40px;
	display:inline-block;
	float:left;
	margin-left:10px;
}
#comment{
	width:250px;
	height:90px;
}
.onError{
	color:#F8FAFC;
}


/*按钮*/
#ratesubmit{
	border:1px solid #5E5E5E;
	background:#fff;
	color:#5E5E5E;
	line-height:30px;
	width:100px;
	font-size:16px;
	border-radius:2px;
	margin-left:120px;
	margin-bottom:5px;
}
#ratesubmit:hover{
	background:#66b6ff;
	border-color:#66b6ff;
	color:#fff;
}