@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
h2{
	padding:15px 0px 15px 20px;
	/*border:1px solid #000;*/
}
.kind
{
	/*border:1px solid #000;*/
      margin-bottom:30px;
}
#background
{
	background:url(../images/org_20170504101542_491.jpg) fixed center center no-repeat;
	background-size:cover;
	width:100%;
	border:1px solid #fff;
}
#content{
	/*border:1px solid #090;*/
}
.attribute
{
	width:100px;
	text-align:right;
	float:left;
	line-height:30px;
	font-size:20px;
	font-weight:400;
	margin:0px 15px 0px 0px;
}
.input{
	border:1px solid #ccf;
	line-height:30px;
	font-size:14px;
	width:175px;
}
.submit{
	height:35px;
	width:170px;
	background-color:#0CF;
	border:0;
	border-top-left-radius: 5px;
	border-top-right-radius:5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
	font-size:14px;
	font-family:Verdana, Geneva, sans-serif;
	color:#fff;
	cursor:pointer;
	margin:10px 0px 0px 90px;
}
#codeButton{
	line-height:25px;
	border:0;
	background-color:#AFDBDE;
	border-top-left-radius: 10px;
	border-top-right-radius:10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	margin-right:10px;
	cursor:pointer;
}
#progress{
	/*border:1px solid #000;*/
}
table{
	/*background-color:#0CF;*/
	width:100%;
}
td{
	border:1px solid #000;
	text-align:center;
	line-height:35px;
	background-color:#F6F6F6;
	border-top-left-radius: 10px;
	border-top-right-radius:10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	margin-right:30px;
}