@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
.attribute{
	line-height:30px;
	font-weight:700;
	width:100px;
	float:left;
	text-align:right;
	/*border:1px solid #000;*/
	margin-right:25px;
	/*font-size:20px;*/
}
.input{
	line-height:30px;
	border:1px solid #CCf;
}
.kind{
	margin-top:20px;
	/*border:1px solid #000;*/
}
#pageheading{
	font-weight:800;
	margin:20px 0px 20px 20px;
	/*border:1px solid #000;*/
	font-size:25px;
}
#send,#res{
	width:100px;
	height:40px;
	cursor:pointer;
	color:#fff;
	background-color:#0CF;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border:0;
}
#send:hover,#res:hover{
	background-color:#06F;
}
#send:active,#res:active{
	background-color:#F00;
}
#background{
	background:url(../images/org_20170508103853_420.jpg) fixed center center no-repeat;
	background-size:cover;
	width:100%;
	border:1px solid #FFF;
}
form{
	/*border:1px solid #000;*/
}
#codeButton{
	line-height:25px;
	width:115px;
	border:1px solid #CCF;
	background-color:#9FF;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	cursor:pointer;
}

