@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
}
#content{
	margin:0px auto;
	width:853px;
}

/*pageHeading*/
#pageHeading{
	background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
	height:30px;
	padding-top:6px;
	position:relative;
}
#pageHeading a{
	color: #6C6C6C;
	text-decoration: none;
	font-size: 13px;
}
#pageHeading a:hover{
	color:#63CEDA;
}
/*分*/
#customerMarket{
	position:absolute;
	top:10px;
	left:70px;
}
#shopperLogin{
	position:absolute;
	top:10px;
	right:160px;
}
#shoppingCart1{
	position:absolute;
	top:10px;
	right:380px;
	display:none;
}
#personalMessage{
	position:absolute;
	top:10px;
	right:270px;
	display:none;
}

#customerLogin{
	position:absolute;
	top:10px;
	right:280px;
}
#exit{
	position:absolute;
	top:10px;
	right:75px;
	display:none;
}

/*搜索框*/
#searchDiv{
	text-align:center;
	height:35px;
	margin:20px 0px 20px 0px;
}
#searchValue{
	line-height:25px;
	width:420px;
	float:left;
	height:31px;
	line-height: 18px;
	border: solid 2px #f50;
	margin-left:170px;
}
#search{
	float:left;
	width: 80px;
    height: 35px;
    border: none;
    cursor: pointer;
	background:#f50;
	color:#fff;
	font-size:16px;
}
/*筛选栏*/
#screen{
	height: 39px;
    background-color: #f5f5f5;
    border: solid 1px #e8e8e8;
	padding-top:5px;
	font-size:14px;
	color: #6d6d6d;
	margin-bottom:20px;
}

#priceRangeLeft{
	line-height:25px;
	width:35px; 
	text-align:center;
}
#priceRangeRight{
	line-height:25px;
	width:35px; 
	text-align:center;
	margin-right:10px;
}
#priceRangeButton{
	width: 42px;
    height: 25px;
    border:1px solid #A5A5A5;
    cursor: pointer;
	background:#fff;
	color:#000;
	font-size:16px;
	border-radius:2px;
	color:#A5A5A5;
	margin-right:50px;
}
#priceRangeButton:hover{
	border-color:#000;
	color:#000;
}
#orderType{
	margin-right:10px;
	width:120px;
	height:28px;
}
#searchClass{
	margin-right:10px;
	width:120px;
	height:28px;
}
/*商品块*/
.product{
	width:200px;  
	float:left;
    margin:0px 15px 20px 0px;
	border: solid 1px #e8e8e8;
	height:270px;
}
.product:hover{
	border-color:#f50;
}
.product a{
	text-decoration:none;
}
img{
	width:200px;
	height:200px;
}
.productSale{
	font-family:arial;
    letter-spacing:0.8px;
	color: #F40;
    font-weight:700;
	font-size:18px;
	line-height:22px;
}
.RMB{
	font-family:arial;
    letter-spacing:0.8px;
	color: #F40;
    font-weight:400;
	font-size:18px;
	line-height:22px;
}
.price{
	margin:10px 0px 7px 10px;
	
}
.productName{
	color: #3d3d3d;
	font-weight: 400;
	margin:0px 0px 0px 10px;
	text-decoration:none;
	width:185px;
	height:25px;
	display:inline-block;
	overflow:hidden;
}
.productName:hover{
	text-decoration: underline;
    color: #f40;
}

/*上下翻页按钮*/
.previousPage,.nextPage{
	border:1px solid #5E5E5E;
	background:#fff;
	color:#5E5E5E;
	line-height:30px;
	width:65px;
	font-size:16px;
	border-radius:2px;
}
.previousPage:hover,.nextPage:hover{
	border-color:#000;
	color:#000;
}
.pageNo,.totalPageNo{
	font-size:18px;
}


/*登录盒子*/

/*盒子标题*/
.heading{
	font-weight:400;
	line-height:35px;
	font-size:18px;
	color:#666666;
	margin-left:10px;
}

/*关闭盒子按钮*/
#AcloseBtn{
	font:"幼圆";
	font-size:18px;
	text-decoration:none;
	color:#999999;
	font-weight:bold;
	float:right;
	margin-right:10px;
	margin-top:5px;
}
#AcloseBtn:hover{
	color:#000;
}
/*阴影*/
#mask{
	border:none;
	width:100%;
	height:100%;
	background:#333;
	opacity:0.6;
	filter:alpha(opacity=60);
	z-index:99;
	position:fixed;
	top:0;
	left:0;
	display:none;
}
/*盒子样式*/
#loginBox{
	display:none;
	border:2px solid #444;
	border-radius:7px;
	z-index:100;
	background:#fff;
	position:fixed;
	left:50%;
	top:150px;
	width:250px;
	margin-left:-125px;
}

/*行*/
.kind{
	/*border:1px solid #000;*/
	margin-top:10px;
}
#account1{
	line-height:30px;
	font-size:18px;
	font-weight:400;
	/*border:1px solid #000;*/
	width:40px;
	display:inline-block;
	margin-left:20px;
}
#account{
	height:30px;
	line-height:30px;
	width:150px;
}
#password1{
	line-height:30px;
	font-size:18px;
	font-weight:400;
	/*border:1px solid #000;*/
	width:40px;
	display:inline-block;
	margin-left:20px;
}
#password{
	height:30px;
	line-height:30px;
	width:150px;
}


/*按钮*/
#submit{
	border:1px solid #5E5E5E;
	background:#fff;
	color:#5E5E5E;
	line-height:30px;
	width:100px;
	font-size:16px;
	border-radius:2px;
	margin-left:75px;
	margin-bottom:15px;
}
#submit:hover{
	background:#66b6ff;
	border-color:#66b6ff;
	color:#fff;
}