<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CommercialCity</display-name>
  <context-param>
    <param-name>encoding</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <filter>
    <display-name>AffairsFilter</display-name>
    <filter-name>AffairsFilter</filter-name>
    <filter-class>com.fjsf.web.filter.AffairsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AffairsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>PageServlet</display-name>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>com.fjsf.web.servlet.PageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/page</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopperRegisterServlet</display-name>
    <servlet-name>ShopperRegisterServlet</servlet-name>
    <servlet-class>com.fjsf.web.servlet.ShopperRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopperRegisterServlet</servlet-name>
    <url-pattern>/shopperRegister</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.fjsf.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ValidateColorServlet</servlet-name>
    <servlet-class>com.fjsf.web.utils.ValidateColorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateColorServlet</servlet-name>
    <url-pattern>/validateColorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUpLoadServlet</display-name>
    <servlet-name>FileUpLoadServlet</servlet-name>
    <servlet-class>com.fjsf.web.servlet.FileUpLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpLoadServlet</servlet-name>
    <url-pattern>/fileUpLoad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopProductServlet</display-name>
    <servlet-name>ShopProductServlet</servlet-name>
    <servlet-class>com.fjsf.web.servlet.ShopProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopProductServlet</servlet-name>
    <url-pattern>/shopProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopperLoginServlet</display-name>
    <servlet-name>ShopperLoginServlet</servlet-name>
    <servlet-class>com.fjsf.web.servlet.ShopperLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopperLoginServlet</servlet-name>
    <url-pattern>/shopperLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopperFindPasswordServlet</display-name>
    <servlet-name>ShopperFindPasswordServlet</servlet-name>
    <servlet-class>com.fjsf.web.servlet.ShopperFindPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopperFindPasswordServlet</servlet-name>
    <url-pattern>/shopperFindPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRegisterServlet</display-name>
    <servlet-name>CustomerRegisterServlet</servlet-name>
    <servlet-class>com.fjsf.web.servlet.CustomerRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRegisterServlet</servlet-name>
    <url-pattern>/customerRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLoginServlet</display-name>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <servlet-class>com.fjsf.web.servlet.CustomerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <url-pattern>/customerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerFindPasswordServlet</display-name>
    <servlet-name>CustomerFindPasswordServlet</servlet-name>
    <servlet-class>com.fjsf.web.servlet.CustomerFindPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerFindPasswordServlet</servlet-name>
    <url-pattern>/customerFindPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerMessageServlet</display-name>
    <servlet-name>CustomerMessageServlet</servlet-name>
    <servlet-class>com.fjsf.web.servlet.CustomerMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerMessageServlet</servlet-name>
    <url-pattern>/customerMessage</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ShopLoginFilter</display-name>
    <filter-name>ShopLoginFilter</filter-name>
    <filter-class>com.fjsf.web.filter.ShopLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ShopLoginFilter</filter-name>
    <url-pattern>/Shop/message/ShopperMessage.jsp</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.fjsf.web.listener.CustomerListener</listener-class>
  </listener>
  <filter>
    <display-name>CustomerLoginFilter</display-name>
    <filter-name>CustomerLoginFilter</filter-name>
    <filter-class>com.fjsf.web.filter.CustomerLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CustomerLoginFilter</filter-name>
    <url-pattern>/customerMessage</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ShopMessageServlet</display-name>
    <servlet-name>ShopMessageServlet</servlet-name>
    <servlet-class>com.fjsf.web.servlet.ShopMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopMessageServlet</servlet-name>
    <url-pattern>/shopMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopProductManageServlet</display-name>
    <servlet-name>ShopProductManageServlet</servlet-name>
    <servlet-class>com.fjsf.web.servlet.ShopProductManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopProductManageServlet</servlet-name>
    <url-pattern>/shopProductManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerMarketServlet</display-name>
    <servlet-name>CustomerMarketServlet</servlet-name>
    <servlet-class>com.fjsf.web.servlet.CustomerMarketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerMarketServlet</servlet-name>
    <url-pattern>/customerMarket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerOrderServlet</display-name>
    <servlet-name>CustomerOrderServlet</servlet-name>
    <servlet-class>com.fjsf.web.servlet.CustomerOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerOrderServlet</servlet-name>
    <url-pattern>/customerOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerShoppingCartServlet</display-name>
    <servlet-name>CustomerShoppingCartServlet</servlet-name>
    <servlet-class>com.fjsf.web.servlet.CustomerShoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerShoppingCartServlet</servlet-name>
    <url-pattern>/customerShoppingCart</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ShopCommentServlet</display-name>
    <servlet-name>ShopCommentServlet</servlet-name>
    <servlet-class>com.fjsf.web.servlet.ShopCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopCommentServlet</servlet-name>
    <url-pattern>/shopComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerBrowserHistoryServlet</display-name>
    <servlet-name>CustomerBrowserHistoryServlet</servlet-name>
    <servlet-class>com.fjsf.web.servlet.CustomerBrowserHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerBrowserHistoryServlet</servlet-name>
    <url-pattern>/customerBrowserHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopOrderServlet</display-name>
    <servlet-name>ShopOrderServlet</servlet-name>
    <servlet-class>com.fjsf.web.servlet.ShopOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopOrderServlet</servlet-name>
    <url-pattern>/shopOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopSaleDateServlet</display-name>
    <servlet-name>ShopSaleDateServlet</servlet-name>
    <servlet-class>com.fjsf.web.servlet.ShopSaleDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopSaleDateServlet</servlet-name>
    <url-pattern>/shopSaleDate</url-pattern>
  </servlet-mapping>
</web-app>